# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\myfile\wechatfile\WeChat Files\wxid_sh6jq2edsoek22\FileStorage\File\2023-10\frontdesk_project 2\frontdesk_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
